html, body {
  margin: 0;
  padding: 0;
}

.html-reset {
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

.login-body {
  background-color: #68adfd;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.panel {
  background-color: white;
  border-radius: 10px;
  padding: 15px 25px;
  width: 100%;
  max-width: 960px;
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  box-shadow: 12px 12px 2px 1px #358efa;
}

.content {
  border-bottom: 1px solid #e1f1ff;
}

.content:last-child {
  border-bottom: none;
}

.logo {
  margin-bottom: 25px;
  max-width: 100%;
}

.panel-title {
  font-weight: 800;
  letter-spacing: 1px;
}

.login {
  margin: 50px 0 25px;
  color: #68adfd;
}

.login-item {
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 12px;
  line-height: 1.5;
  padding: 15px 0;
  border-top: 1px solid #e1f1ff;
}

.login-item:last-child {
  border-bottom: 1px solid #e1f1ff;
}

.panel-title {
  color: #358efa;
  display: block;
  font-size: 28px;
  font-weight: 700;
}

.input {
  padding: 10px;
}

.input-box {
  position: relative;
  width: 200px;
  padding: 18px;
}

.input-data .input-box {
  position: relative;
  height: 10px;
  width: 100%;
  border: none;
  border-bottom: 2px solid silver;
  font-size: 17px;
}

.input-data input:valid~label,
.input-data input:focus~label {
  color: #0e77f8;
  transform: translateY(-48px);
  font-size: 17px;
}

.input-data label {
  position: relative;
  bottom: 20px;
  left: 0;
  color: grey;
  pointer-events: none;
  display: flex;
  text-align: none;
  transition: all 0.3s ease;
}

.login-btn {
  border: 1px solid #358efa;
  border-radius: 10px;
  color: #9fa1a3;
  display: inline-block;
  padding: 15px 35px;
  text-decoration: none;
  margin: 25px 0;
  transition: background-color 200ms ease-in-out;
}

.login-btn:hover,
.login-.login-btn {
  background-color: #e1f1ff;
}

.login-btn.is-featured {
  background-color: #48aaff;
  color: white;
}

.login-btn.is-featured:hover,
.login-btn.is-featured:focus {
  background-color: #269aff;
  color: white;
}


@media (min-width: 900px) {
  .panel {
    flex-direction: row;
  }

  .content {
    border-bottom: none;
    border-right: .1em solid #e1f1ff;
    padding: 25px 50px;
  }

  .content:last-child {
    border-right: none;
    border-bottom: none;
  }
}

.side-by-side {
  display: flex;
  flex-flow: row;
  column-gap: 20px;
  align-items: top;
  justify-content: space-around;
}

#stock-main {
  display: flex;
  flex-flow: row;
  column-gap: 20px;
  align-items: top;
  justify-content: space-around;
}

/*THIS IS THE END OF INDEX.HTML STYLING*/

/* Login .php styling start*/

.heading {
  color: white;
  font-size: 15px;
  text-align: center;
}

.left, .center, .right {
  width: 30.3333333%;
  height: fit-content;
  margin: 0 1.5%;
  float: left;
  text-align: center;
  padding: 0px, 50px;
  box-sizing: border-box;
  background-color: white;
  padding: 15px 25px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.left {
  border-radius: 25% 10%;
  box-shadow: -12px 5px 5px #358efa;
}

.center {
  border-radius: 25px;
  box-shadow: 1px 5px 5px #358efa;
}

.right {
  border-radius: 10% 25%;
  box-shadow: 12px 5px 5px #358efa;
}

.center .extra {
  font-size: small;
}

.center .view-tab {
  width: 100%;
}

.submit-btn {
  font-size: small;
  font-weight: bold;
  background-color: #358efa;
  width: auto;
  height: auto;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  border-radius: 5px;
  border-color: #90db75;
  cursor: pointer;
  box-shadow: 0 0 10px #90db75;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}

.submit-btn:hover, .submit-btn:focus, .submit-btn:active {
  box-shadow: 0 0 20px #90db75;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.head-body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}

.head-body {
  background-color: #68adfd;
}

.nav-container {
  width: 100%;
  background-color: #90db75;
}

.navbar {
  display: grid;
  grid-template-columns: 0.2fr auto 1fr;
  align-items: center;
  height: 90%;
  width: 90%;
  max-width: 1720px;
  margin: 0 auto;
}

.navbar-logo {
  color: #68adfd;
  justify-self: start;
  margin-left: 20px;
}

.navbar-logo {
  cursor: pointer;
}

.nav-menu {
  display: grid;
  grid-template-columns: repeat(5, auto);
  list-style: none;
  text-align: center;
  width: 70%;
  justify-self: end;
}

.nav-links {
  color: white;
  text-decoration: none;
}

.nav-links:hover {
  color: #68adfd;
  transition: all 0.2s ease-out;
}

.nav-links-btn {
  background-color: #68adfd;
  padding: 6px 16px;
  border-radius: 4px;
}

.nav-links-btn:hover {
  background-color: transparent;
  color: red;
  padding: 5px 15px;
  border-radius: 4px;
  border: solid 1px red;
  transition: all 0.3s ease-out;
}


#display-item-div {
  display: flex;
  justify-content: center;

}

#display-item-sect {
  height: 450px;
  overflow: auto;
}

#display-item-sect table {
  height: 600px;
  margin: 0 auto;
}


.content-table {
  /* position: absolute; */
  border-collapse: collapse;
  /* left: 5%; */
  width: 800px;
  height: 200px;
  border: 1px solid #90db75;
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
  margin: 30px 0;
  font-size: 0.9em;
  min-width: 400px;
}

.content-table thead tr {
  /* transition: all .2s ease-in; */
  background-color: #90db75;
  color: white;
  text-align: center;
  font-weight: bold;
}

th, td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

/* tr:hover {
  background-color: #f3f3f3;
  transform: scale(1.02);
  box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2), -1px -1px 8px rgba(0, 0, 0, 0.2);
} */

@media only screen and (max-width:840px) {
  .content-table {
    width: 90%;
  }
}

.content-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

thead th {
  position: sticky;
  top: 0;
  background-color: #90db75;
  color: white;
  text-align: center;
  font-weight: bold;
}