<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,600,700">
    <link rel="stylesheet" href="style.css">
    <title>Tots and Blocks</title>
</head>

<body>
    <main id="login-body">
        <div class="panel">

            <div class="content">
                <img src="icons/t&b.jpg" class="logo">
                <h1 class="panel-title">Tots & Blocks</h1>
                <h1 class="panel-title">Inventory Managment System</h1>
            </div>

            <div class="content">
                <form action="login.php" method="POST">
                    <div class="login">
                        <h1 class="panel-title">Welcome</h1>
                        <p>Sign in to continue</p>
                        <div class="input">
                            <label for="username"><span>Username:</span></label>
                            <input class="input-box" type="text" name="username" id="username" required>
                            <i></i>
                        </div>

                        <div class="input">
                            <label for="password"><span>Password:</span></label>
                            <input class="input-box" type="password" name="password" id="password" required>
                            <i></i>
                        </div>
                        <p>
                            <input class="login-btn" type="submit" value="LOG IN">
                        </p>
                    </div>
                </form>
            </div>
    </main>


</body>

</html>